/* Styles for the Body */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    text-align: center;
    visibility: visible;
}

h1 {
    margin-top: 20px;
    font-weight: 400;
}

.info-text {
    color: #000;
    font-size: 1em;
    font-weight: normal;
    margin-top: 10px;
}


/* Styles for the deck of cards */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    position: relative;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    position: relative;
}

.lid {
    height: 100%;
    width: 100%;
    background: #2e3d49;
    font-size: 0;
    border-radius: 6px;
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    border: 1px solid #fff;
}

.open {
    visibility: hidden;
}


/* TODO: styles for matched cards */

.matched {
    transform: rotateY(0);
    -webkit-transform: rotate(0);
    /* for Safari */
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
    /* for Safari */
}


/* Styles for the Score Panel */

.score-panel {
    text-align: center;
    width: 345px;
    margin-bottom: 10px;
}

#stars,
#moves,
#timer,
#restart {
    display: inline-block;
    float: left;
    width: 50%;
    height: 30px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}


/* TODO: styles for star scores */

.star1,
.star2,
.star3 {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    color: #a17f1a;
    margin: 0 5px 0 0;
    margin: 0;
    padding: 0;
}


/* TODO: styles for restart button */

#restart {
    font-size: 1.3em;
    font-weight: bold;
}

.restart-span {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 2px 4px;
    border-radius: 6px;
}

.restart-span:hover {
    background-color: chartreuse;
}


/* styles for Cards */

.fruit1,
.fruit2,
.fruit3,
.fruit4,
.fruit5,
.fruit6,
.fruit7,
.fruit8,
.landmark1,
.landmark2,
.landmark3,
.landmark4,
.landmark5,
.landmark6,
.landmark7,
.landmark8,
.sport1,
.sport2,
.sport3,
.sport4,
.sport5,
.sport6,
.sport7,
.sport8 {
    height: 100%;
    width: 100%;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
}


/* TODO: first set of cards */

.fruit1 {
    background: transparent url(../img/fruits/1.png) center center no-repeat;
}

.fruit2 {
    background: transparent url(../img/fruits/2.png) center center no-repeat;
}

.fruit3 {
    background: transparent url(../img/fruits/3.png) center center no-repeat;
}

.fruit4 {
    background: transparent url(../img/fruits/4.png) center center no-repeat;
}

.fruit5 {
    background: transparent url(../img/fruits/5.png) center center no-repeat;
}

.fruit6 {
    background: transparent url(../img/fruits/6.png) center center no-repeat;
}

.fruit7 {
    background: transparent url(../img/fruits/7.png) center center no-repeat;
}

.fruit8 {
    background: transparent url(../img/fruits/8.png) center center no-repeat;
}


/* TODO: second set of cards */

.landmark1 {
    background: transparent url(../img/landmarks/1.png) center center no-repeat;
}

.landmark2 {
    background: transparent url(../img/landmarks/2.png) center center no-repeat;
}

.landmark3 {
    background: transparent url(../img/landmarks/3.png) center center no-repeat;
}

.landmark4 {
    background: transparent url(../img/landmarks/4.png) center center no-repeat;
}

.landmark5 {
    background: transparent url(../img/landmarks/5.png) center center no-repeat;
}

.landmark6 {
    background: transparent url(../img/landmarks/6.png) center center no-repeat;
}

.landmark7 {
    background: transparent url(../img/landmarks/7.png) center center no-repeat;
}

.landmark8 {
    background: transparent url(../img/landmarks/8.png) center center no-repeat;
}


/* TODO: third set of cards */

.sport1 {
    background: transparent url(../img/sports/1.png) center center no-repeat;
}

.sport2 {
    background: transparent url(../img/sports/2.png) center center no-repeat;
}

.sport3 {
    background: transparent url(../img/sports/3.png) center center no-repeat;
}

.sport4 {
    background: transparent url(../img/sports/4.png) center center no-repeat;
}

.sport5 {
    background: transparent url(../img/sports/5.png) center center no-repeat;
}

.sport6 {
    background: transparent url(../img/sports/6.png) center center no-repeat;
}

.sport7 {
    background: transparent url(../img/sports/7.png) center center no-repeat;
}

.sport8 {
    background: transparent url(../img/sports/8.png) center center no-repeat;
}


/* styles for end popup display */

#popup {
    visibility: hidden;
    width: 560px;
    min-height: 260px;
    background: linear-gradient(140deg, #17f266 10%, #09afbc 85%);
    color: #000;
    margin: 320px auto 0 auto;
    position: fixed;
    z-index: 10;
    text-align: center;
    padding: 40px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 10px;
}

#popup p {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5;
}

.score {
    text-decoration: underline;
}

.title {
    font-size: 1.2em;
}

.popup-title {
    font-size: 1.5em;
}


/* TODO: styles for 'play-again' button */

#next-game {
    padding: 7px 12px;
    background-color: #e1f366;
    border: none;
    color: #0b626c;
    font-size: 1.1em;
    border-radius: 6px;
}

#next-game:hover {
    cursor: pointer;
    background-color: #117abd;
    color: #fff;
}


/* Responsive */

@media only screen and (max-width: 1050px) and (orientation: landscape) {
    h1 {
        font-size: 1.5em;
    }
    .info-text {
        font-size: 1.5em;
    }
    .score-panel {
        font-size: 1.2em;
    }
    header {
        position: relative;
        top: 100px;
        left: 250px;
    }
    .deck {
        position: relative;
        width: 430px;
        min-height: 430px;
        left: -200px;
        top: -140px;
    }
    .card {
        height: 80px;
        width: 80px;
    }
    .fruit1 {
        background: transparent url(../img/fruits/mobile/1.png) center center no-repeat;
    }
    .fruit2 {
        background: transparent url(../img/fruits/mobile/2.png) center center no-repeat;
    }
    .fruit3 {
        background: transparent url(../img/fruits/mobile/3.png) center center no-repeat;
    }
    .fruit4 {
        background: transparent url(../img/fruits/mobile/4.png) center center no-repeat;
    }
    .fruit5 {
        background: transparent url(../img/fruits/mobile/5.png) center center no-repeat;
    }
    .fruit6 {
        background: transparent url(../img/fruits/mobile/6.png) center center no-repeat;
    }
    .fruit7 {
        background: transparent url(../img/fruits/mobile/7.png) center center no-repeat;
    }
    .fruit8 {
        background: transparent url(../img/fruits/mobile/8.png) center center no-repeat;
    }
    .landmark1 {
        background: transparent url(../img/landmarks/mobile/1.png) center center no-repeat;
    }
    .landmark2 {
        background: transparent url(../img/landmarks/mobile/2.png) center center no-repeat;
    }
    .landmark3 {
        background: transparent url(../img/landmarks/mobile/3.png) center center no-repeat;
    }
    .landmark4 {
        background: transparent url(../img/landmarks/mobile/4.png) center center no-repeat;
    }
    .landmark5 {
        background: transparent url(../img/landmarks/mobile/5.png) center center no-repeat;
    }
    .landmark6 {
        background: transparent url(../img/landmarks/mobile/6.png) center center no-repeat;
    }
    .landmark7 {
        background: transparent url(../img/landmarks/mobile/7.png) center center no-repeat;
    }
    .landmark8 {
        background: transparent url(../img/landmarks/mobile/8.png) center center no-repeat;
    }
    .sport1 {
        background: transparent url(../img/sports/mobile/1.png) center center no-repeat;
    }
    .sport2 {
        background: transparent url(../img/sports/mobile/2.png) center center no-repeat;
    }
    .sport3 {
        background: transparent url(../img/sports/mobile/3.png) center center no-repeat;
    }
    .sport4 {
        background: transparent url(../img/sports/mobile/4.png) center center no-repeat;
    }
    .sport5 {
        background: transparent url(../img/sports/mobile/5.png) center center no-repeat;
    }
    .sport6 {
        background: transparent url(../img/sports/mobile/6.png) center center no-repeat;
    }
    .sport7 {
        background: transparent url(../img/sports/mobile/7.png) center center no-repeat;
    }
    .sport8 {
        background: transparent url(../img/sports/mobile/8.png) center center no-repeat;
    }
    #popup {
        margin-top: 140px;
    }
}
